---
language: ruby
cache: bundler

rvm:
  - 2.5.8
  - 2.6.6
  - 2.7.2
  - 3.0.0
gemfile:
  - ci/gemfiles/Gemfile.rails-5.2.x
  - ci/gemfiles/Gemfile.rails-6.0.x
  - ci/gemfiles/Gemfile.rails-6.1.x

before_install: gem install bundler -v 2.2.0
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - bundle exec rspec
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
